* {
  padding: 0;      
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --b: #f8f8f8; */
  --b: #ffffff;
  --f: #161616;
  /* --a: #ff6961; */
  --a: #3498db;
  --h: #78b1f3; /* hover */
  /* --a: #D47968; */
  /* --a: #ed933e; */
  --m: #777777;
}

body {
  padding-top: 3.5em; 
  padding-bottom: 3.5em;
  /* padding: 50px; */
  /* font-family: Fira Sans, sans-serif; */
  font-family: Inter, Helvetica, Roboto, sans-serif;

  font-size: 1rem;
  color: var(--f);
  background-color: var(--b);
  max-width: 650px;
  margin: 0 auto;
  line-height: 2em;
}

h2 {
  text-align: center;
  margin-bottom: 2em;
}

blockquote {
  border-left: 0.4em solid var(--f);
  padding-left: 1em;
  margin-bottom: 1em;
}

/* @media only screen and (min-width: 760px) { */
/*   body { */
/*     width: 55em; */
/*   } */
/* } */

/* main { */
/*   max-width: 650px */ 
/* } */

ul {
  list-style-type: none;
}

li {
  /* display: flex; */
  /* justify-content: space-between; */
  /* margin-bottom: 8px; */
}

a {
  color: var(--a);
  text-decoration: none;
}

a:hover {
  color: var(--h);
}

.date {
  font-family: monospace;
}

.desc {
  color: rgba(121, 121, 121, 0.75);
}


/* FOR POSTS */

p code {
  font-size: 0.85rem;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  word-wrap: break-word;
  background-color: rgba(175,184,193,0.2);
}

pre {
  font-size: 0.85rem;
  border-radius: 6px;
  padding: 1rem; 
  word-wrap: break-word;
  background-color: #f6f8fa;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1em;
}

picture img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2em;
}

