
* {
  margin: 0;  
  font-family: sans-serif;
}

:root {
  --b: #0c0c0c;
  --f: #ffffff;
  --m: #797979;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: var(--b);
  color: var(--f);
}

.gallery {
  display: grid;
  

  /* display: flex; */
  /* flex-wrap: wrap; */ 
  /* justify-content: space-around */
}

.art {
  width: 300px;
  height: 200px;
}

.title {
  margin-bottom: 5px;
}

.description {
  color: var(--m);
  margin-bottom: 5px;
}

.piece {
  /* max-width: 306px; */
  min-width: 203px;
  /* max-height: 241.688px; */
  min-height: 323.688px;
}

.didactic {
  margin-top: 13px;
}

.brush {

}


