
* {
  margin: 0;  
  font-family: sans-serif;
}

:root {
  --b: #0c0c0c;
  --f: #ffffff;
  --m: #797979;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: var(--b);
  color: var(--f);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
  justify-items: center;
}

.art {
  width: 300px;
  height: 200px;
}

.title {
  margin-bottom: 5px;
}

.description {
  color: var(--m);
  margin-bottom: 5px;
}

.piece {
  max-width: 306px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.didactic {
  margin-top: 13px;
}

.brush {

}

/* .height1{ */
/*   height: 500px; */
/* } */

/* .height2{ */
/*   height: 450px; */
/* } */

/* .height3{ */
/*   height: 550px; */
/* } */
