* {
  padding: 0;      
  margin: 0;
  box-sizing: border-box;
}

:root {
  --b: #ffffff;
  --f: #161616;
  --a: #3498db;
  --h: #78b1f3; /* hover */
  --m: #777777;
}

body {
  padding: 3.5em 1em;
  font-family: Inter, Helvetica, Roboto, sans-serif;

  font-size: 1rem;
  color: var(--f);
  background-color: var(--b);
  max-width: 650px;
  margin: 0 auto;
  line-height: 2em;
}

h2 {
  text-align: center;
  margin-bottom: 2em;
}

blockquote {
  border-left: 0.4em solid var(--f);
  padding-left: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 8px; */
}

a {
  color: var(--a);
  text-decoration: none;
}

a:hover {
  color: var(--h);
}

.date {
  font-family: monospace;
}


.description {
  color: rgba(121, 121, 121, 0.75);
}

@media only screen and (max-width: 700px) {
  .date { display: none; }
  body { padding: 3.5em 2em; }
}

/* FOR POSTS */

p code {
  font-size: 0.85rem;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  word-wrap: break-word;
  background-color: rgba(175,184,193,0.2);
}

pre {
  font-size: 0.85rem;
  border-radius: 6px;
  padding: 1rem; 
  word-wrap: break-word;
  background-color: #f6f8fa;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1em;
}

picture img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2em;
}

